<nav class="navbar navbar-expand-sm justify-content-center">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="{{url_for('home2')}}">
        <img class="img-nav" src="{{ url_for('static', filename='img/españa.png') }}" alt="Bootstrap">
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{url_for('home')}}">
        <img class="img-nav" src="{{ url_for('static', filename='img/inglaterra.png') }}" alt="Bootstrap">
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{url_for('home3')}}">
        <img class="img-nav" src="{{ url_for('static', filename='img/italia.png') }}" alt="Bootstrap">
      </a>
    </li>
  </ul>
</nav>